<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.7.0" />
  <package id="NUnit.Runners" version="3.11.1" />
  <package id="NUnit.Console" version="3.11.1" />
  <package id="NUnit.ConsoleRunner" version="3.11.1" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" />
  <package id="OpenCover" version="4.6.519" />
</packages>
